.root{

}

/*
.button {
	-fx-background-color: 
        #A0A0A0,
        linear-gradient(#EFEFEF, #E5E5E5);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
    -fx-padding: 3 20 3 20;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.button:focused{
	-fx-background-color: 
        #3399FF,
        linear-gradient(#EFEFEF, #E5E5E5);
}

.button:hover{
	-fx-background-color: 
        #3399FF,
        linear-gradient(#EBF4FC, #DCECFC);
}

.button:armed{
	-fx-background-color:
		#3399FF,
		linear-gradient(#DAECFC, #C4E0FC);
}

.tool-bar{
	-fx-background-color:F0F0F0
}

.text-field{
	-fx-background-color:
		#A0A0A0,
		#FFFFFF;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 0;
	-fx-text-fill: black;
	-fx-font_size: 14px;
}

.text-field:hover{
	-fx-background-color: 
        #3399FF,
        #FFFFFF
}

.text-field:focused{
-fx-background-color: 
        #A0A0A0,
        #FFFFFF
}
*/	

.tab-header-background{
	-fx-background-color:linear-gradient(from 0% 90% to 0% 100%, transparent, dimgray);
}
.tab-header-area{
	-fx-background-color:transparent;
}

.navigation-bar {
	-fx-background-color:
		linear-gradient(from 0% 0% to 100% 0%, #555555, dimgray 10%, #333333 50%, black 99%, white),
		linear-gradient(from 0px 0px to 0px 10px, #111111, transparent);
}
.navigation-bar-button:selected{
	-fx-text-fill:White;
	-fx-background-color:
		linear-gradient(from 0% 0% to 100% 0%, black, #222222 90%, #555555),
		linear-gradient(from 0% 0% to 0% 10%, dimgray, transparent),
		linear-gradient(from 0% 100% to 0% 90%, dimgray, transparent);
	-fx-background-insets: 1,1,0,0;
}

.navigation-bar-button:hover{
	-fx-text-fill:White;
}

.navigation-bar-button{
	-fx-background-color:transparent;
	-fx-background-radius: 0;
	-fx-text-fill:lightgray;
}
